<a href="/item/{{_id}}/details" class="added-electronics-in-market">
    <img src="{{imageUrl}}" alt="{{name}}" class="picture-added-electronics">
    <h3>{{name}}</h3>
    <span>Price: ${{price}}</span>
</a>