<form class="edit-form" method="POST">
    <label for="name">Name of Planet:</label>
    <input type="text" id="name" name="name" value="{{item.name}}">

    <label for="age">Age (in billion years):</label>
    <input type="number" id="age" name="age" value="{{item.age}}">

    <label for="solarSystem">Solar System:</label>
    <input type="text" id="solarSystem" name="solarSystem" value="{{item.solarSystem}}">

    <label for="type">Type:</label>
    <select id="type" name="type">
        <option value="Inner" {{#if (eq item.type "Inner")}}selected{{/if}}>Inner</option>
        <option value="Outer" {{#if (eq item.type "Outer")}}selected{{/if}}>Outer</option>
        <option value="Dwarf" {{#if (eq item.type "Dwarf")}}selected{{/if}}>Dwarf</option>
    </select>

    <label for="moons">Moons (count):</label>
    <input type="number" id="moons" name="moons" value="{{item.moons}}">

    <label for="size">Size (in km):</label>
    <input type="number" id="size" name="size" value="{{item.size}}">

    <label for="rings">Rings:</label>
    <select id="rings" name="rings">
        <option value="Yes" {{#if (eq item.rings "Yes")}}selected{{/if}}>Yes</option>
        <option value="No" {{#if (eq item.rings "No")}}selected{{/if}}>No</option>
    </select>

    <label for="description">Description:</label>
    <textarea id="description" name="description" rows="4">{{item.description}}</textarea>

    <label for="image">Image URL:</label>
    <input type="url" id="image" name="imageUrl" value="{{item.imageUrl}}">

    <button type="submit">Save Changes</button>
</form>