<div class="product-item">
    <img
        src="{{imageUrl}}" alt="{{model}}">
    <h3>{{brand}} {{model}}</h3>
    {{#if isCatalog}}
        <h2>${{price}}</h2>
        <p>CPU: {{cpu}}</p>
        <p>GPU: {{gpu}}</p>
        <p>Screen: {{screensize}}</p>
    {{else}}
        <p>${{price}}</p>
    {{/if}}
    <a href="/device/{{_id}}/details" class="btn">View Details</a>
</div>