<section class="create-hero">
    <div class="container">
        <h2>Create New Product</h2>
        <p>Fill in the details below to add a new product to the catalog.</p>
    </div>
</section>

<section class="create-form">
    <div class="container">
        <form method="POST">
            <div class="form-group">
                <label for="brand">Brand:</label>
                <input type="text" id="brand" name="brand" value="{{data.brand}}" >
            </div>
            <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" id="model" name="model" value="{{data.model}}" >
            </div>
            <div class="form-group">
                <label for="hard-disk">Hard Disk:</label>
                <input type="text" id="hard-disk" name="harddisk" value="{{data.harddisk}}" >
            </div>
            <div class="form-group">
                <label for="screen-size">Screen Size:</label>
                <input type="text" id="screen-size" name="screensize" value="{{data.screensize}}" >
            </div>
            <div class="form-group">
                <label for="ram">RAM:</label>
                <input type="text" id="ram" name="ram" value="{{data.ram}}" >
            </div>
            <div class="form-group">
                <label for="operating-system">Operating System:</label>
                <input type="text" id="operating-system" name="os" value="{{data.os}}" >
            </div>
            <div class="form-group">
                <label for="cpu">CPU:</label>
                <input type="text" id="cpu" name="cpu" value="{{data.cpu}}" >
            </div>
            <div class="form-group">
                <label for="gpu">GPU:</label>
                <input type="text" id="gpu" name="gpu" value="{{data.gpu}}" >
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" value="{{data.price}}" >
            </div>
            <div class="form-group">
                <label for="gpu">Color:</label>
                <input type="text" id="color" name="color" value="{{data.color}}" >
            </div>
            <div class="form-group">
                <label for="gpu">Weight:</label>
                <input type="text" id="weight" name="weight" value="{{data.weight}}" >
            </div>
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="text" id="image" name="imageUrl" value="{{data.imageUrl}}" >
            </div>
            <button type="submit" class="btn">Create Product</button>
        </form>
    </div>
</section>