<main class="edit">
    <!-- Edit Page (Only for logged-in users) -->
    <section id="edit">
        <div class="form">
            <h2>Edit item</h2>
            <form class="edit-form" method="post">
                <input type="text" name="name" id="name" placeholder="Name" value="{{item.name}}" />
                <input type="text" name="category" id="category" placeholder="Category" value="{{item.category}}" />
                <input type="text" name="color" id="color" placeholder="Color" value="{{item.color}}" />
                <input type="text" name="imageUrl" id="stone-img" placeholder="Image" value="{{item.imageUrl}}" />
                <input type="text" name="location" id="location" placeholder="Location" value="{{item.location}}" />
                <input type="text" name="formula" id="formula" placeholder="Formula" value="{{item.formula}}" />
                <textarea id="description" placeholder="Description..." name="description">{{item.description}}</textarea>

                <button type="submit">Edit</button>
            </form>
        </div>
    </section>
</main>