<div class="volcano">
    <div class="volcano-img">
        <img src="{{imageUrl}}" alt="{{name}}">
    </div>
    <div class="volcano-info">
        <h1>{{name}}</h1>
        <p><span>Location: </span>{{location}}</p>
        <p><span>Volcano Type: </span>{{type}}</p>
    </div>

    <a href="/item/{{_id}}/details" class="btn-details">Details</a>
</div>