<section id="edit-container">
    <div class="edit-container-info">
        <h1>Edit Course</h1>
        <form method="post">
            <label>Title:</label>
            <input name="title" type="text" id="title" value="{{item.title}}">

            <label>Type:</label>
            <input name="type" type="text" id="type" value="{{item.type}}">

            <label>Certificate:</label>
            <input name="certificate" type="text" id="certificate" value="{{item.certificate}}">

            <label>Image:</label>
            <input name="imageUrl" type="text" id="image" placeholder="http://..." value="{{item.imageUrl}}">

            <label>Description:</label>
            <textarea id="content"
                name="description">{{item.description}}</textarea>

            <label>Price:</label>
            <input name="price" type="number" id="price" value="{{item.price}}">

            <input type="submit" id="btn" value="Edit">
        </form>
    </div>
</section>