<section class="edit-hero">
    <div class="container">
        <h2>Edit Product</h2>
        <p>Fill in the details below to edit a product to the catalog.</p>
    </div>
</section>

<section class="edit-form">
    <div class="container">
        <form method="POST">
            <div class="form-group">
                <label for="brand">Brand:</label>
                <input type="text" id="brand" name="brand" value="{{product.brand}}">
            </div>
            <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" id="model" name="model" value="{{product.model}}">
            </div>
            <div class="form-group">
                <label for="hard-disk">Hard Disk:</label>
                <input type="text" id="hard-disk" name="harddisk" value="{{product.harddisk}}">
            </div>
            <div class="form-group">
                <label for="screen-size">Screen Size:</label>
                <input type="text" id="screen-size" name="screensize" value="{{product.screensize}}">
            </div>
            <div class="form-group">
                <label for="ram">RAM:</label>
                <input type="text" id="ram" name="ram" value="{{product.ram}}">
            </div>
            <div class="form-group">
                <label for="operating-system">Operating System:</label>
                <input type="text" id="operating-system" name="os" value="{{product.os}}">
            </div>
            <div class="form-group">
                <label for="cpu">CPU:</label>
                <input type="text" id="cpu" name="cpu" value="{{product.cpu}}">
            </div>
            <div class="form-group">
                <label for="gpu">GPU:</label>
                <input type="text" id="gpu" name="gpu" value="{{product.gpu}}">
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" value="{{product.price}}">
            </div>
            <div class="form-group">
                <label for="gpu">Color:</label>
                <input type="text" id="color" name="color" value="{{product.color}}">
            </div>
            <div class="form-group">
                <label for="gpu">Weight:</label>
                <input type="text" id="weight" name="weight" value="{{product.weight}}">
            </div>
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="text" id="image" name="imageUrl" value="{{product.imageUrl}}">
            </div>
            <button type="submit" class="btn">Edit Product</button>
        </form>
    </div>
</section>