<div class="flip flip-vertical">
    <div class="front">
        <img src="{{imageUrl}}" alt="{{title}}">
        <h1 class="text-shadow">Key word: {{keyword}}</h1>
    </div>
    <div class="back">
        <h2>{{title}}</h2>
        <p>Description: {{description}}</p>
        <a href="/item/{{_id}}/details" class="details">Details</a>
    </div>
</div>