<section id="createPage">
    <form id='createForm' method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{item.name}}" placeholder="Name...">

        <label for="type">Type:</label>
        <input type="text" id="type" name="type" value="{{item.type}}" placeholder="Type...">

        <label for="production">Year of Production:</label>
        <input type="number" id="production" name="production" value="{{item.production}}" placeholder="Year of Production...">

        <label for="exploitation">Years of Exploitation:</label>
        <input type="number" id="exploitation" name="exploitation" value="{{item.exploitation}}" placeholder="Year of Exploitation...">

        <label for="damages">Damages:</label>
        <input type="text" id="damages" name="damages" value="{{item.damages}}" placeholder="Damages...">

        <label for="image">Image:</label>
        <input type="text" id="image" name="imageUrl" value="{{item.imageUrl}}" placeholder="Image...">

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="{{item.price}}" placeholder="Price...">

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="{{item.description}}" placeholder="Description...">

        <input type="submit" class="create" value="Create Offer">
    </form>
</section>