<div class="planet-card" id="planet{{index}}">
    <img
        src="{{imageUrl}}" alt="Planet {{name}}">
    <h3>{{name}}</h3>
    <p>Solar System: {{solarSystem}}</p>
    <a class='detail-btn' href='/item/{{_id}}/details'>Details</a>
</div>