<div class="planet-result">
    <img src="{{imageUrl}}" alt="Planet {{name}}" class="planet-img">
    <div class="planet-info">
        <p><strong>Name:</strong>{{name}}</p>
        <p><strong>Solar System:</strong>{{solarSystem}}</p>
        <a class="detail-btn" href="/item/{{_id}}/details">Details</a>
    </div>
</div>